@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

.home {
  background-image: linear-gradient(155deg, #ffc8229d 25%, #14352598 100%);
  width: 100%;
  height: 100vh; /* Ensure it takes full height */
  position: relative; /* To position child elements */
  display: flex; /* To center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.hero {
  height: 90vh; /* Full height for the carousel item */
  width: 100%; /* Full width */
  background-repeat: no-repeat;
  background-size: cover; /* Ensure it covers the whole area */
  background-position: top center; /* Center the image */
  display: flex; /* To center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.home-text {
  color: white; /* Text color for visibility */
  text-align: center; /* Center align text */
  padding: 20px; /* Padding for spacing */
}

.home-text h1 {
  font-size: 3.2em;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.home-text p {
  font-size: 1.5em; /* Adjusted for better readability */
  font-weight: 400;
  margin-bottom: 20px;
  max-width: 80%;
}

@media screen and (max-width: 570px) {
  .home-text p {
    font-size: 13px;
  }
}





* {
  padding: 0px;
  margin: 0px;
}
.main-container {
  margin: 0px;
  padding: 0px;
  background-color: black;
  min-height: 100vh;
  position: relative;
  margin-top: -90px;
  padding-top: 60px;
}
.blur-circle1 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, white, pink);
  border-radius: 50%;
  filter: blur(120px);
  position: absolute;
  left: 8%;
  top: 50%;
  /* transform: translate(50%); */
}
.blur-circle2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom, white, pink);
  border-radius: 50%;
  filter: blur(100px);
  position: absolute;
  right: 10%;
  top: 20%;
  /* transform: translate(50%); */
}
body {
  font-family: "Open Sans", sans-serif;
}
.containered {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .containered {
    width: 750px;
  }
  .landing-page .content .info h1 {
    font-size: 2em;
  }
}
/* Medium */
@media (min-width: 992px) {
  .containered {
    width: 980px;
  }
  .landing-page .content .info h1 {
    font-size: 2em;
  }
}
/* Large */
@media (min-width: 1200px) {
  .containered {
    width: 1170px;
  }
}
/* End Global Rules */

.landing-page .content .containered {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
@media (max-width: 767px) {
  .landing-page .content .containered {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column;
  }
  .main-image {
    /* mix-blend-mode:exclusion */
    width: 600px;
    height: 400px;
    /* visibility: hidden;
   */
    /* display: none; */
  }
  .landing-page .content .info {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
  }
  .landing-page .content .info h1 {
    color: #bbbbbb;
    font-size: 4em;
    font-weight: 600;
  }
}

.landing-page .content .info h1 {
  color: #bbbbbb;
  font-size: 4em;
  font-weight: 600;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 1.4em;
  color: #b3b3b3;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: var(--text-color);
  background-color: #6c63ff;
}
.landing-page .content .image img {
  max-width: 100%;
}
/* End Landing Page */

.main-image {
  /* mix-blend-mode:exclusion */
  width: 600px;
  height: 400px;
}
h1,
p {
  color: var(--text-color);
}
/* ==============================================OFFER===================================================== */
.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 40px;
}

.offer h3 {
  font-size: 33px;
  font-weight: 600;
  color: var(--background-color);
  font-family: dosis;
  /* text-align: center; */
}
.offer p {
  font-size: 23px;
  font-weight: 500;
  color: var(--background-color);
  font-family: "Figtree", sans-serif;
  /* max-width: 90%; */
  opacity: 0.9;
  text-align: justify;
}
.offer-icon-section {
  display: flex;
  gap: 20px;
  /* width: 50%; */
  margin-bottom: 20px;
}
.offer-icon-section .offer-icon {
  border-radius: 50%;
  background-color: var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
}

.offer-icon-section .offer-icon svg {
  color: var(--text-color);
  font-size: 50px;
}
.offer-icon-section .offer-icon-desc {
  align-content: center;
  width: 60%;
}
.offer-icon-section .offer-icon-desc p {
  font-family: dosis;
  font-size: 20px;
  opacity: 0.8;
  color: var(--link-color);
  line-height: 1.2;
  font-family: "Figtree", sans-serif;
}

.offer-icon-section .offer-icon-desc h2 {
  font-family: dosis;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.9;
  color: var(--link-color);
  line-height: 1.2;
  /* margin-top: 18px; */
}
.offer-side {
  background-color: #f9f9f988;
}

/* ======================================vidSection=================================== */
.vid-container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background-image: url("../../Assets/ymastudent.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.vid-content {
  background-color: #ffc82286;
  opacity: #0505ed00;
  height: 70vh;
  width: 100%;
  /* background-image: url("../../Assets/ymastudent.jpeg"); */
}

/* ========================================responsive=============================== */
@media (width < 992px) {
  .landing-page .content .containered {
    gap: 40px;
    min-height: calc(100vh - 80px);
  }
  .containered {
    max-width: 1000px !important;
  }
  .landing-page .content .info h1 {
    font-size: 3em !important;
  }
}
@media (width < 1180px) {
  .landing-page .content .info h1 {
    font-size: 3.5em;
  }
  .containered {
    max-width: 1180px;
  }
  .landing-page .content .containered {
    gap: 40px;
    min-height: calc(100vh - 80px);
  }
}
@media (width < 768px) {
}
@media (width < 542px) {
  .course {
    width: 100%;
  }
}
