:root {
  --main-color: #333;
  --highlight-color: #d3762a;
  --background-color: #222;
  --text-color: #fff;
  --link-color: #000;
  --link-hover-color:  #d3762a;
  --primary-color: #0e5349;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--link-color);
  overflow-x: hidden;
  /* background-color: var(--primary-color); */
}
