:root {
  --main-color: #333;
  --highlight-color: #23582C;
  --background-color: #222;
  --text-color: #fff;
  --link-color: #000;
  --link-hover-color: #65A75E;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--link-color);
}
